
footer{
    margin-top: 3%;
    background-color: #f9b209;
    height:auto;
}
.contenedor{
    overflow: hidden;
    overflow-y: scroll;
}
nav{
    background-color: #f9b209;
    height:auto;
    text-align: center;
    margin-bottom: 2%;
}
.img{
    width: 3%;
    margin-right: 5%;
    margin-left: 3%;
}
.a{
    text-decoration: none;
}
